*.pth
!*final.pth
*probe_final.pth
*.err
*.out
!vis/shap/*
features/
features/
*.obj
*__pycache__/
*.npy
*.csv
*.csv
*_mask.png
*_grasps.txt
*.tiff
*_RGB.png
*.png
*.png
*.zip
dump
.env/
.DS*
.ipynb_checkpoints
.idea
*runs/
*.mat
*goodale/trained_models/*
!shap_arrays/*
*get-pip.py
goodale/
features_top_5/
task_rep_weights/*