h5py==3.11.0
matplotlib==3.10.6
more_itertools==10.8.0
networkx==3.3
numpy==2.3.3
opencv_python==4.9.0.80
pandas==2.3.3
Pillow==11.3.0
rsatoolbox==0.3.0
scikit_learn==1.7.2
scipy==1.16.2
Shapely==2.1.2
skimage==0.0
statsmodels==0.14.5
sympy==1.12.1
torch==2.3.0
torchsummary==1.5.1
torchvision==0.18.0
tqdm==4.66.4
